@model PerguntasRespostas.ViewModel.PerguntaViewModel

@{
    ViewData["Title"] = "Create";
}


<div>
    <section class="content-header">
        <h1>
            Cadastrar Perguntas
        </h1>
       
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Formulario</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div class="box-body">                            
                            <div class="form-group">
                                <label asp-for="Titulo" class="control-label"></label>
                                <input asp-for="Titulo" class="form-control" />
                                <span asp-validation-for="Titulo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <input asp-for="Descricao" class="form-control" />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Categoria" class="control-label"></label>
                                <div class="col-md-12">
                                    <select name="CategoriaId" asp-items="@ViewBag.CategoriaId"></select>
                                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Criar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

