<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Perguntas| Respostas</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PerguntasRespostas</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/Fiap/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="~/Fiap/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="~/Fiap/dist/css/skins/_all-skins.min.css">
    </environment>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><b>Pergunta &</b> Resposta</span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>


                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Fiap/dist/img/user.jpg" class="user-image" alt="User Image">
                                <span class="hist/img/user.jpgidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Fiap/dist/img/user.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Membro da Fiap desde. 04/2019</small>
                                    </p>

                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">

            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Fiap/dist/img/user.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="~/Home/Index">
                            <i class="fa fa-th"></i> <span>Dashboard</span> <small class="label pull-right bg-green">new</small>
                        </a>

                    </li>

                    <li class="header">LABELS</li>
                    <li><a href="~/Perguntas/Index"><i class="fa fa-circle-o text-red"></i> <span>Perguntas</span></a></li>
                    <li><a href="~/Categoria/Index"><i class="fa fa-circle-o text-yellow"></i> <span>Categorias</span></a></li>
                    <li><a href="~/Respostas/Index"><i class="fa fa-circle-o text-aqua"></i> <span>Respostas</span></a></li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            <section class="content">

                @RenderBody()

                @*<div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; 2018 - WebApplication2</p>
                        </footer>
                    </div>*@
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2018 <a href="http://www.fiap.com.br">Desenvolvimento Web - Fiap</a>.</strong> Todos os direitos Reservados.
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/Fiap/dist/js/app.min.js"></script>
        <script src="~/Fiap/dist/js/pages/dashboard.js"></script>
        <script src="~/Fiap/dist/js/demo.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)

</body>
</html>









