@model PerguntasRespostas.UI.Mvc.Models.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<html>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Perguntas</b>Respostas</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Insira seus dados para login</p>
I            <form asp-action="/Index">
                <div class="form-group has-feedback">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">

                    <div class="col-xs-4">
                        
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                    </div>
                </div>
            </form>

        </div>

    </div>
</body>
</html>




@*<h2>Index</h2>

    <h4>LoginViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


